<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.togglecorp.miti" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait"/>


        <!-- Widgets -->
        <receiver android:name=".widgets.SingleCellWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_single_cell_provider_info" />
        </receiver>

        <receiver android:name=".widgets.NepaliMinimalWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_minimal_nepali_provider_info" />
        </receiver>

        <receiver android:name=".widgets.NepaliEnglishMinimalWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_minimal_nepali_english_provider_info" />
        </receiver>

        <receiver android:name=".widgets.MonthWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_month_provider_info" />
        </receiver>
        <service android:name=".widgets.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!-- Broadcast receivers -->
        <receiver android:name=".helpers.DailyBroadcastReceiver"/>
    </application>

</manifest>